# <span style = "color:#012030">Online Shop Sales Data Analysis </span>
 
## <span style = "color:#012030">Author</span> :<span style = "color:#38D0F2">Thapelo Maloka (217004340)</span>
## <span style = "color:#012030">Due Date</span> :<span style = "color:#38D0F2">14 April 2023</span>
## <span style = "color:#012030">Data Source</span> :<span style = "color:#38D0F2">https://www.kaggle.com/datasets/onlineretailshop/online-shop-customer-sales-data</span>

## <span style = "color:#012030">GitHub Link</span> :<span style = "color:#38D0F2">Thapelo Maloka (217004340)</span>

# <span style = "color:#38D0F2">Import Relevant Libraries</span>

In [15]:
import pandas as pd

# <span style = "color:#38D0F2">Import My Data File In the Format of CSV</span>

In [16]:
# Read the CSV file into a DataFrame.
sales_data = pd.read_csv('./Online_Shop_Customer_Sales_Data.csv')

## <span style = "color:#38D0F2">View the 1st twenty rows of the data to see if it Importaed succesfully</span>

In [89]:
sales_data.head(20)

,Customer_id,Age,Gender,Revenue_Total,N_Purchases,Purchase_DATE,Purchase_VALUE,Pay_Method,Time_Spent,Browser,Newsletter,Voucher
0,504308,53,Male,45.3,2,2021-06-22,24.915,Card,885,Chrome,not subscribed,not used
1,504309,18,Female,36.2,3,2021-10-12,2.896,PayPal,656,Chrome,not subscribed,used
2,504310,52,Female,10.6,1,2021-03-14,10.600,Digital Wallets,761,Chrome,subscribed,not used
3,504311,29,Male,54.1,5,2021-10-25,43.280,Card,906,Chrome,subscribed,not used
4,504312,21,Female,56.9,1,2021-09-14,56.900,Card,605,Chrome,subscribed,not used
5,504313,55,Male,13.7,6,2021-05-14,12.467,Card,364,Safari,not subscribed,not used
6,504314,17,Female,30.7,6,2021-09-01,2.456,Digital Wallets,654,Chrome,not subscribed,not used
7,504315,30,Female,8.1,7,2021-03-28,6.561,Other,1011,Chrome,not subscribed,not used
8,504316,51,Male,18.0,4,2021-04-08,11.880,Digital Wallets,312,Other,subscribed,not used
9,504317,63,Female,19.2,4,2021-06-10,11.904,Other,828,Chrome,not subscribed,not used
10,504318,26,Male,36.5,5,2021-12-31,31.390,PayPal,1029,Chrome,not subscribed,used
11,504319,42,Female,14.0,4,2021-11-22,4.340,Other,479,Safari,not subscribed,not used
12,504320,40,Male,14.7,2,2021-02-08,2.940,Other,645,Chrome,not subscribed,not used
13,504321,19,Male,37.4,4,2021-07-05,15.334,Other,501,Safari,not subscribed,not used
14,504322,30,Female,15.4,1,2021-02-05,15.400,Other,802,Edge,not subscribed,not used
15,504323,60,Male,28.7,7,2021-04-06,0.861,Other,804,Chrome,not subscribed,not used
16,504324,22,Male,39.7,3,2021-02-22,30.569,PayPal,931,Other,not subscribed,not used
17,504325,39,Female,5.1,3,2021-07-13,1.530,Other,911,Other,subscribed,not used
18,504326,21,Female,43.9,6,2021-09-13,19.755,Card,468,Chrome,not subscribed,used
19,504327,20,Female,36.4,6,2021-01-16,14.560,PayPal,714,Chrome,not subscribed,not used

# <span style = "color:#38D0F2">Data Cleaning</span>

### <span style = "color:#38D0F2">Check for Missing Values</span>

In [18]:
# Check for missing values
missing_values = sales_data.isna()

# Count the number of missing values in each column
num_missing = missing_values.sum()

# Print the number of missing values in each column
print(num_missing)

Customer_id       0
Age               0
Gender            0
Revenue_Total     0
N_Purchases       0
Purchase_DATE     0
Purchase_VALUE    0
Pay_Method        0
Time_Spent        0
Browser           0
Newsletter        0
Voucher           0
dtype: int64

### <span style = "color:#38D0F2">For each row it appears that there are no missing vaues</span>
### <span style = "color:#38D0F2">Check for data types</span>

In [41]:
sales_data.dtypes

Customer_id                int64
Age                        int64
Gender                    object
Revenue_Total            float64
N_Purchases                int64
Purchase_DATE     datetime64[ns]
Purchase_VALUE           float64
Pay_Method                object
Time_Spent                 int64
Browser                   object
Newsletter                object
Voucher                   object
dtype: object

In [42]:
# Convert the Purchase_DATE column to datetime
sales_data['Purchase_DATE'] = pd.to_datetime(sales_data['Purchase_DATE'])

## <span style = "color:#38D0F2">Replace 0 with 'Male' and 1 with 'Female' in the Gender column</span> 
## <span style = "color:#38D0F2">Replace 0 with Chrome, 1 with Safari, 2 with Edge, 3 with Other in the Browser column</span>
## <span style = "color:#38D0F2">Replace 0 with Digital Wallets, 1 with Card, 2 with PayPal, 3 with Other in the Pay Method column</span>
## <span style = "color:#38D0F2">Replace 0 with not subscribed, 1 with subscribed in the Newsletter column</span>
## <span style = "color:#38D0F2">Replace 0 with not used, 1 with used in the Voucher column</span>

In [43]:
sales_data['Gender'] = sales_data['Gender'].replace({0: 'Male', 1: 'Female'})

# Replace values in the Browser column
sales_data['Browser'] = sales_data['Browser'].replace({0: 'Chrome', 1: 'Safari', 2: 'Edge', 3: 'Other'})

# Replace values in the Pay Method column
sales_data['Pay_Method'] = sales_data['Pay_Method'].replace({0: 'Digital Wallets', 1: 'Card', 2: 'PayPal', 3: 'Other'})

# Replace values in the Newsletter column
sales_data['Newsletter'] = sales_data['Newsletter'].replace({0: 'not subscribed', 1: 'subscribed'})

# Replace values in the Voucher column
sales_data['Voucher'] = sales_data['Voucher'].replace({0: 'not used', 1: 'used'})

## <span style = "color:#38D0F2">Rename the the N_Purchases to Number_Purchases & Time_Spent to Time_Spent(Sec) Column</span>

In [87]:
sales_data.rename(columns = {'Time_Spent' : 'Time_Spent(Sec)'}) 
sales_data.rename(columns = {'N_Purchases' : 'Number_Purchases'})

sales_data.to_csv('Online_Shop_Customer_Sales_Data.csv', index=False)

In [63]:
sales_data.describe()

,Customer_id,Age,Revenue_Total,N_Purchases,Purchase_VALUE,Time_Spent
count,65796.000000,65796.000000,65796.000000,65796.000000,65796.000000,65796.000000
mean,537205.500000,39.592696,27.732935,3.992477,15.968699,598.925603
std,18993.813493,13.825466,14.941878,2.004370,13.229295,277.833635
min,504308.000000,16.000000,0.500000,1.000000,0.005000,120.000000
25%,520756.750000,28.000000,15.300000,2.000000,4.819750,358.000000
50%,537205.500000,40.000000,30.100000,4.000000,12.640000,598.000000
75%,553654.250000,51.000000,37.600000,6.000000,24.752000,840.000000
max,570103.000000,63.000000,59.900000,7.000000,59.900000,1080.000000